#books {
    .books {

        display: flex;
        flex-direction: column;
        align-items: center;

        &--tabs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            width: 60%;

            &__btn {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                border-radius: 10px;
                padding: 5px 17px;
                cursor: pointer;
                transition: .4s;
                &:hover{
                    background:#fff;
                    color: #595FEB;
                }
            }
        }

        &--block {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__aboutBook {
                width: 32%;
                height: auto;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid #FFFFFF;
                backdrop-filter: blur(7.5px);
                padding: 20px;
                border-radius: 10px;

                &--line {
                    width: 100%;
                    height: 1.4px;
                    background: #fff;
                    margin: 10px 0;
                }

                h2 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    padding-bottom: 20px;
                    color: #FFFFFF;
                }

                &--end {
                    h3 {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 6px;
                }

                &--start {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0;

                    h4 {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                        margin-right: 10px;
                    }

                    button {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                        background: rgba(255, 255, 255, 0.1);
                        border: 0.5px solid #FFFFFF;
                        border-radius: 5px;
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
}