@import "./components/Header/Header.scss";
@import "./components/Footer/Footer.scss";
@import "./pages/Home/Home.scss";
@import "./pages/Home/Hero/Hero";


////////////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/// //////////////////////////////////////////////////////////////////



*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(152.23deg, #D78B59 6.77%, #595FEB 47.79%);
  font-family: 'Montserrat',sans-serif;

}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}